.editor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cm-editor {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  font-size: 0.9rem;
  text-align: left;
}

.editor-controls {
  display: flex;
  gap: 1rem;
}

.left-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.load-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.load-input input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
}

.right-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-grow: 1;
}

.right-controls button i {
  font-size: 1.5rem
}