.editor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cm-editor {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  font-size: 0.9rem;
  text-align: left;
}

.editor-controls {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.load-input {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.load-input input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
}