.tape-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.machine-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.tape-buttons button{
  margin-left: 0.5rem;
}

.status-box.running .value {
    color: #007bff;
}

.status-box.success .value {
    color: #28a745;
}

.status-box.fail .value {
    color: #dc3545;
}

.status-box.stopped .value {
    color: #6c757d;
}

.label {
    font-weight: bold;
    margin-right: 0.5rem;
}

.tape-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.tape {
  overflow: hidden;
}

.slide-move {
  transition: transform var(--anim-speed, 500ms) ease;
}

.slide-leave-active {
  position: absolute;
}

.slide-leave-to {
  opacity: 0;
}

.tape-track {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #f9f9f9;
}

.active {
  background: #ffd54f;
}